@font-face {
  font-family: "webfont-bee";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_0b4ef1pehnzq.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_0b4ef1pehnzq.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_0b4ef1pehnzq.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_0b4ef1pehnzq.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_0b4ef1pehnzq.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_0b4ef1pehnzq.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-发现";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_epijiwwllrt.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_epijiwwllrt.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_epijiwwllrt.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_epijiwwllrt.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_epijiwwllrt.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_epijiwwllrt.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-识图记录";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_1ack4cq3zrx.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_1ack4cq3zrx.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_1ack4cq3zrx.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_1ack4cq3zrx.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_1ack4cq3zrx.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_1ack4cq3zrx.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-语音交互";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_le74s38wm1o.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_le74s38wm1o.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_le74s38wm1o.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_le74s38wm1o.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_le74s38wm1o.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_le74s38wm1o.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-个性分析";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_tp8qcikjknh.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_tp8qcikjknh.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_tp8qcikjknh.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_tp8qcikjknh.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_tp8qcikjknh.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_tp8qcikjknh.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-学习建议";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_orettq494v.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_orettq494v.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_orettq494v.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_orettq494v.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_orettq494v.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_orettq494v.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-位置共享";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_orettq494v.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_orettq494v.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_orettq494v.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_orettq494v.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_orettq494v.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_orettq494v.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-亲子通讯";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_hkp7kjbxgv.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_hkp7kjbxgv.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_hkp7kjbxgv.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_hkp7kjbxgv.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_hkp7kjbxgv.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_hkp7kjbxgv.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-学习资源";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_bo6gqffa9uw.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_bo6gqffa9uw.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_bo6gqffa9uw.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_bo6gqffa9uw.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_bo6gqffa9uw.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_bo6gqffa9uw.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-位置共享";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_eddsbap21q7.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_eddsbap21q7.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_eddsbap21q7.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_eddsbap21q7.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_eddsbap21q7.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_eddsbap21q7.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "webfont-我的";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_z4zi0m4yeah.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_z4zi0m4yeah.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_z4zi0m4yeah.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_z4zi0m4yeah.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_z4zi0m4yeah.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_z4zi0m4yeah.svg#杨任东竹石体-Bold")
      format("svg"); /* iOS 4.1- */
}
