@import "font.css";
.head-nav {
  /* height: 8vh; */
  height: 3rem;
  background-color: #ffa62b;
  width: 100vw;
  position: fixed;
  top: 0;
  color: white;
  /* font-size: 4.5vh; */
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  margin-bottom: 0.5rem;
  /* line-height: 8vh; */
}
.head-nav-instead {
  height: 3rem;
  width: 100vw;
}