.title-line {
  color: #424242;
  font-size: 10vw;
}
.detail-line {
  color: #444;
  font-size: 4vw;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}